{% if page.comments %}
<div id="disqus_thread"></div>
<script>
var disqus_config = function () {
  this.page.url = '{{ page.url | absolute_url }}';
  this.page.identifier = '{{ page.id | default: page.url }}';
};
(function() {
  var d = document, s = d.createElement('script');
  // TODO: 将 YOUR_SHORTNAME 替换成你在 Disqus 创建站点得到的 shortname
  s.src = 'https://biblight.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
<noscript>请启用 JavaScript 以查看评论。</noscript>
{% endif %}
